*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
}

img{
  width: 100%;
}

button{
  border: none;
  cursor: pointer;
}

.box{
  padding: 5px 7px;
  background-color: rgba(103, 115, 125, .7);
}




/* SECTION */
section.top, section.center{
  background-color: #000000;
}

section.top{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 80px;
}

section.center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 100px;
  height: calc(100vh - 160px); 
  overflow: scroll;
}

section.bottom{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #222222;
}




/* SECTION-TOP */
.top button{
  margin-top: 7px;
  margin-right: 7px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 6px;
  color: #ffffff;;
}




/* CARD */
.card{
  position: relative;
  min-width: 400px;
  min-height: 300px;
  margin: 10px 5px;
}

.card .box{
  position: absolute;
  bottom: 0px;
  text-transform: capitalize;
}




/* SECTION-BOTTOM */
.left, .center{
  display: flex;
  align-items: center;
}

.left i, .center i{
  font-size: 28px;
}

.btn{
  padding: 10px;
  text-align: center;
}

.btn span{
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-top: 8px;
}

.left > button i, .center > button i{
  font-size: 14px;
  margin: 0 10px;
}

.center .btn:nth-child(4) i{
  color: #4ac700;
}

.right button{
  height: 100%;
  padding: 0 18px;
  font-size: 18px;
  color: #ae160f;
  background-color: #4a4a4a;
}

.bottom button:not(.right button){
  color: #ffffff;
  background-color: #222222;;
}
